.container {
    width: 1200px;
    height: 1200px;
    margin-top: 5%;
    background-color: whitesmoke;
}
.banner
{
   background-color: orange;
    color: white;
   height: 200px;
   width: 100%;
   display: flex;
  
}
.my_name
{
   font-size: 3rem;
}

.imag {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    float: right;
  
}
.resume-body{
    width: 100%;
    height: 900px;
}
.sidebar{
    background-color:#FFBB64;
    opacity: 90%;
    height: 1000px;
}
